---
layout: default
---

<div class="row">

<!--
  <ul class="post-list">
    {% for color in site.colors %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}</span>
      </li>
    {% endfor %}
  </ul>
-->
  {% for color in site.colors %}
  <div class="small-6 medium-4 column">
    <div class="tile-container">
      <div class="tile-content">
        <div class="color-tile" style="background-color: {{ color.number }}"></div>
        <div class="color-specs">
          <span class="color-name">{{ color.name }}</span>
          <span class="color-number">{{ color.number }}</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
