---
layout: default
---
<!--<article class="post" itemscope itemtype="http://schema.org/BlogPosting">-->

  <div class="small-12 medium-8 medium-centered column">
    <div class="color-container small-12 medium-6 column">
      <div class="color-swatch" style="background-color: {{ page.number }}"></div>
    </div>
    <div class=" color-data small-12 medium-6 column">
      <div class="date">{{ page.date | date: "%b %-d, %Y" }}</div>
      <div class="name">{{ page.name }}</div>
      <div class="number">{{ page.number }}</div>
    </div>
  </div>

<!--</article>-->
